/*For banner */
.banner {
    background: #010016;
    border-radius: 10px;
    height: 70px;
}
  
.banner_content {
    color: #e4f7fa;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    flex-grow: 1;
    font-family: 'Quicksand', sans-serif ;
}

  /* For First Visualization */
#visual1 {
    padding: 10px 10px;
    height: 730px;
    align-items: center ;
    margin-top: 10px;
    opacity: 1;
    background-color: rgb(238, 240, 234);
}

.viz1title {
    color: #e4f7fa;
    background: #232323e8;
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    flex-grow: 1;
    font-family: 'Quicksand', sans-serif ;
}

.arrows1 {
	width: 58px;
	height: 62px;
    display: block; margin: auto;
	bottom: 10px;
}

.arrows1 path {
	stroke: #0197ae;
	fill: transparent;
	stroke-width: 1px;	

}


#separator {
    padding: 0px 10px;
    height: 60px;
    align-items: center ;
    opacity: 1;
    background-color: rgb(238, 240, 234);
}


  /* For Second Visualization */

  #visual2 {
    padding: 10px 10px;
    height: 760px;
    align-items: center ;
    margin-top: 10px;
    opacity: 1;
    background-color: rgb(238, 240, 234);
}

.map1title {
    color: #e4f7fa;
    background: #232323e8;
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    flex-grow: 1;
    font-family: 'Quicksand', sans-serif ;
}

.map2title {
    color: #e4f7fa;
    background: #232323e8;
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    flex-grow: 1;
    font-family: 'Quicksand', sans-serif ;
}

#map1 {
    padding: 10px 10px;
    height: 670px;
    align-items: center ;
    background-color:  rgb(238, 240, 234);
}

#map2 {
    padding: 10px 10px;
    height: 670px;
    align-items: center ;
    background-color:  rgb(238, 240, 234);
}

.arrows2 {
	width: 58px;
	height: 60px;
    display: block; margin: auto;
	bottom: 10px;
}

.arrows2 path {
	stroke: #0197ae;
	fill: transparent;
	stroke-width: 1px;	

}

#visual3 {
    padding: 10px 10px;
    height: 760px;
    align-items: center ;
    margin-top: 10px;
    opacity: 1;
    background-color: rgb(238, 240, 234);
}